<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- namespace代表唯一标识符 -->
<mapper namespace="com.user.dao.usermapper">
<!-- 05 -->
<resultMap type="com.entity.User" id="user">
	<id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="vip" column="vip"/>
    <result property="sex" column="sex"/>
    <result property="photo" column="photo"/>
    <result property="profession" column="profession"/>
    <result property="birthday" column="birthday"/>
    <result property="home" column="home"/>
    <result property="label" column="label"/>
</resultMap>
<select id="insertuser">
	insert into user(id,username,password,vip) values (#{id},#{username},#{password},#{vip})
</select>
	
	
<select id="queryUser" resultMap="user">
	select * from user
	where id=#{s1} and password=#{s2}
</select>

<update id="updateUser" >
	update user
	set username=#{s2},sex=#{s3},profession=#{s4},home=#{s5},birthday=#{s6},label=#{s7},photo=#{s8}
	where id=#{s1}

</update>
<select id="secondquery" resultMap="user">
	select * from user
	where id=#{m}
</select>
</mapper>
