<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- namespace代表唯一标识符 -->
<mapper namespace="com.admin.dao.AdminMapper">
	<!-- 筛选全部 -->
	<resultMap type="com.entity.Admin" id="admin">
		   <id property="id" column="id"/>
	       <result property="username" column="username"/>
	       <result property="password" column="password"/>
	    
	</resultMap>
	<resultMap type="com.entity.User" id="user1">
	<id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="vip" column="vip"/>
    <result property="sex" column="sex"/>
    <result property="photo" column="photo"/>
    <result property="profession" column="profession"/>
    <result property="birthday" column="birthday"/>
    <result property="home" column="home"/>
    <result property="label" column="label"/>
</resultMap>
	<insert id="insertAdmin">
		insert into admin(username,password) values(#{arg0},#{arg1})
	</insert>
	
	<select id = "findAll" resultMap="admin">
		select * from admin
	</select>
	<select id = "findUser" resultMap="user1">
		select * from user limit 5
	</select>
	
	<delete id="deleteUser">
		delete from user 
		where id=#{s1}
	</delete>
	
	<select id = "findUserPaging" resultMap="user1">
		select * from user 
		limit #{arg0},#{arg1}
	</select>
	
	<insert id="insertuser">
		insert into user(id,username,password,sex,photo,profession,home,birthday,label)
		 values(#{arg0},#{arg1},#{arg2},#{arg3},#{arg4},#{arg5},#{arg6},#{arg7},#{arg8})
	
	</insert>
	
	<select id="selectuser" resultMap="user1">
		select * from user
		where id=#{arg0}
	</select>
</mapper>
