<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- namespace代表唯一标识符 -->
<mapper namespace="com.kitchen.find.dao.FindFriendMapper">
	<!-- 筛选全部 -->
	<resultMap type="com.entity.FindFriend" id="findFriend">
		   <id property="id" column="ffid"/>
	       <result property="author" column="author"/>
	       <result property="theme" column="theme"/>
	       <result property="data" column="data"/>
	       <result property="date" column="date"/>
	       <result property="menuid" column="menuid"/>
	       <result property="likenum" column="likenum"/>
	       <result property="photo" column="ffphoto"/>
	       <result property="type" column="type"/>
	       <result property="user.id" column="uid"/>
	       <result property="user.username" column="username"/>
	       <result property="user.photo" column="uphoto"/>
	       <result property="findLable.id" column="flid"/>
	       <result property="findLable.lable" column="fltype"/>
	    <collection property="find_Photos" ofType="com.entity.Find_Photo">
	    	<id property="id" column="fpid"/>
	    	<result property="photoid" column="photoid"/>
		    <result property="photo" column="fpphoto"/>
	    </collection>
	</resultMap>
	
	<select id="findAllFindFriend" resultMap="findFriend" >
		SELECT ff.id ffid,ff.author,ff.theme,ff.data,ff.date,ff.menuid,ff.likenum,ff.photo ffphoto,ff.type,
			u.id uid,u.username,u.photo uphoto,
			fp.id fpid,fp.photoid,fp.photo fpphoto,
			fl.id flid,fl.type fltype
		FROM findFriend ff 
		left join user u on u.id = ff.author
		left join find_photo fp on fp.photoid = ff.id 
		left join findlable fl on fl.id = ff.type
	</select>
	
	<resultMap type="com.entity.FindLable" id="findlable">
		<id property="id" column="id"/>
	    <result property="lable" column="type"/>
	</resultMap>
	<select id="findAllLable" resultMap="findlable">
		select id,type from findlable ORDER BY id ASC
	</select>
	
	<select id="findFindFriendByLable" resultMap="findFriend">
		SELECT ff.id ffid,ff.author,ff.theme,ff.data,ff.date,ff.menuid,ff.likenum,ff.photo ffphoto,ff.type,
			u.id uid,u.username,u.photo uphoto,
			fp.id fpid,fp.photoid,fp.photo fpphoto,
			fl.id flid,fl.type fltype
		FROM findFriend ff 
		left join user u on u.id = ff.author
		left join find_photo fp on fp.photoid = ff.id 
		left join findlable fl on fl.id = ff.type
		where fl.type = #{lableid }
	</select>

</mapper>
