<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- namespace代表唯一标识符 -->
<mapper namespace="com.kitchen.recommend.dao.menumapper">
<!-- 05 -->
<resultMap type="com.entity.menu" id="menu">
	<id property="menu_id" column="menu_id"/>
    <result property="date" column="date"/>
    <result property="menu_photo" column="menu_photo"/>
    <result property="menu_name" column="menu_name"/>
    <result property="type" column="type"/>
    <collection property="labels" ofType="com.entity.label">
    	<id property="label_id" column="label_id"/>
        <result property="label_name" column="label_name"/>
    </collection>
</resultMap>
<select id="findall" resultType="com.entity.menu" resultMap="menu">
	SELECT * FROM menu m,label l,menu_label ml where m.menu_id=ml.menu_id and l.label_id=ml.label_id
</select>
	<!-- <select id="findallbyleiid" resultType="entity.xinwenlei" resultMap="xinwenandlei">
         select * from xinwen x,pinglun p,xinwenandlei a,xinwenlei l where x.id = p.xinwenid and x.id=a.id and l.leiid=a.leiid and l.leiid = #{id}
    </select>
    <select id="lastinsert" resultType="int">
    	select * from xinwenlei order by leiid DESC limit 1
    </select>
    <insert id="addlei">
    	INSERT into xinwenandlei(leiid,id) VALUES(#{leiid},#{id})
    </insert>
    <insert id="addleis" useGeneratedKeys="true" keyProperty="leiid">
    	INSERT into xinwenlei(leiid,leimingcheng) VALUES
    	<foreach collection="list" item="xinwenlei" separator=",">
     		(#{xinwenlei.leiid},#{xinwenlei.leimingcheng})
     	</foreach>
    </insert>
    <insert id="addxinwenandleis">
    	INSERT into xinwenandlei(leiid,id) VALUES(#{leiid},#{id})
    </insert> -->
	<!-- <select id="findbest" resultType="entity.xinwen" resultMap="xinwenandpinglun">
        SELECT *,COUNT(xinwenid) as counts from xinwen x left join pinglun p on x.id = p.xinwenid GROUP BY x.id ORDER BY counts DESC LIMIT 10
    </select>
    <insert id="addpinglun" >
    	insert into pinglun(xinwenid,pneirong,pshijian) values(#{xinwenid},#{pneirong},#{pshijian})
    </insert>
	<delete  id="deletepinglun" >
        delete from pinglun where xinwenid=#{id} and pneirong like concat('%',#{string},'%')
    </delete >  -->



<!--  04-->
   <!--  <select id="selectall" resultType="entity.xinwen">
        select * from xinwen
    </select>
    <insert  id="addxinwen" parameterType="entity.xinwen" useGeneratedKeys="true" keyProperty="id">
        insert into xinwen(biaoti,neirong,laiyuan,shijian) VALUES(#{biaoti},#{neirong},#{laiyuan},#{shijian})
    </insert>
    <select id="findbyneirong" parameterType="java.lang.String" resultType="entity.xinwen">
        select * from xinwen where neirong like concat('%',#{neirong},'%')
    </select>
    <update   id="editbyid"  >
        UPDATE xinwen set laiyuan=#{laiyuan} where id =#{id}
    </update >
    <delete  id="deletebyid" >
        delete from xinwen where id=#{id}
    </delete > -->
</mapper>
