<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.type.dao.MarketcommentMapper">
	<resultMap id="marketComment1" type="com.entity.marketComment">
		<id property="id" column="id"/>
		<result property="market_name" column="name"/>
		<result property="market_comment" column="comment_show"/>
		<result property="img" column="img"/>
		

	</resultMap>

    <select id="findAll" resultMap="marketComment1">
		select * from market_commentshow
	</select>
	
	
</mapper>